{% include "layout/header.html" %}
{% if session["borrowed"] != [] %}
    {% with rows=session["borrowed"] %}
        {% include "table/table.html" %}
    {% endwith %}
{% else %}
    {% include "table/emptyTable.html" %}
{% endif %}
<div onclick="toggleForm()" class="btn-request">Borrow a new umbrella</div>
<div onclick="toggleReturnForm()" class="btn-request">Return an umbrella</div>


<!-- Modal Form -->
<div class="modal-bg" id="modal-form" style="display: none;">
    <form action="{{ url_for('post_borrow') }}" method="post" class="modal-form" target="show_umbrellas">
        <div class="modal-title">
            <p>Submit Borrow Form</p>
            <p onclick="toggleForm()" class="modal-close-btn">X</p>
        </div>  
        <div class="form-group">
            <label for="location">Select location:</label>
            <select name="location" id="location">
                {% for location in session['locations'] %}
                <option value="{{ location }}">{{ location }}</option>
                {% endfor %}
            </select>
        </div>
        <div onclick="submitForm()" class="form-btn-primary">Search for umbrella</div>
        <input type="submit" hidden />
    </form>
</div>

<div class="show-umbrella-modal modal-bg" id="umbrella-modal" style="display:none;">
    <div class="modal-form">
        <div class="modal-title">
            <p>Submit Borrow Form</p>
            <p onclick="toggleForm2()" class="modal-close-btn">X</p>
        </div>  
        <iframe name="show_umbrellas" src="/iframeumbrella" style="height: 500px; width: 500px;"></iframe>
    </div>
</div>

<!-- Modal Return Form -->
<div class="modal-bg" style="display: none;" name="return-form" id="modal-return-form-container">
    <form action="{{ url_for('post_return') }}" method="post" class="modal-form" id="modal-return-form">
        <div class="modal-title">
            <p>Return Umbrella</p>
            <p onclick="toggleReturnForm()" class="modal-close-btn">X</p>
        </div> 
        <div class="form-group">
            <label for="return-location">Select return location:</label>
            <select name="return-location" id="return-location">
                {% for location in session['locations'] %}
                <option value="{{ location }}">{{ location }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-body">
            {% for umbrella in session['borrowed'] %}
            <div id="umbrella-{{loop.index}}" class="form-group" style="border-style: none none solid none; padding: 5px;" onclick="submitReturn(event)">
                {% set outer_loop = loop %}
                {% for val in umbrella %}
                <div style="flex: 1;" id="loan-{{ outer_loop.index }}-{{ loop.index }}">{{ val }}</div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <input id="loan-id-field" name="loan-id-field" value="" hidden />
        <input type="submit" hidden />
    </form>
</div>

<script>
    const toggleForm = () => {
        var modalForm = document.getElementById("modal-form");
        if (modalForm.style.display === "none") {
            modalForm.style.display = "flex";
            modalForm.style.flexDirection = "column";
        } else {
            modalForm.style.display = "none";
        }
    }
    
    const toggleForm2 = () => {
        var modalForm = document.getElementById("umbrella-modal");
        if (modalForm.style.display === "none") {
            modalForm.style.display = "flex";
            modalForm.style.flexDirection = "column";
        } else {
            modalForm.style.display = "none";
        }
    }
    
    const submitForm = () => {
        var modalForm = document.getElementById("modal-form");
        var umbrella_modal = document.getElementById("umbrella-modal");
        document.forms[0].submit();
        modalForm.style.display = "none";
        umbrella_modal.style.display = "flex";
        umbrella_modal.style.flexDirection = "column";
    }

    const toggleReturnForm = () => {
        var modalForm = document.getElementById("modal-return-form-container");
        if (modalForm.style.display === "none") {
            modalForm.style.display = "flex";
            modalForm.style.flexDirection = "column";
        } else {
            modalForm.style.display = "none";
        }
    }

    const submitReturn = (e) => {
        var loanId = e.currentTarget.children[0].innerHTML;
        if (isNaN(parseFloat(loanId))) { return };
        document.forms["modal-return-form"]["loan-id-field"].value = parseFloat(loanId);
        document.forms['modal-return-form'].submit();
    }
</script>
{% include "layout/footer.html" %}