{% include "layout/header.html" %}
<form action="{{ url_for('post_login') }}" method="post">
    <div class="form-outer-box">
        <div class="form-box">
            <input type="email" name="email" placeholder="Email" class="form-email" />
            <input type="password" name="password" placeholder="Password" class="form-email" />
            {% if session['incorrect_input'] == True %}
                {% include "components/errorBar.html" %}
            {% endif %}
            <div onclick="javascript:document.forms[0].submit();" class="form-btn-primary">Sign In</div>
            <div class="form-btn-secondary">
                Don't have an account?
                <a href="/register">Register</a>
            </div>
            <input type="submit" hidden />
        </div>
    </div>
</form>

{% include "layout/footer.html" %}