.table-container {
  display: flex;
  gap: 10px 10px;
  background-color: #06aed5;
  padding: 10px;
  font-size: large;
}

.table-container > div {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 20px 0;
}

.table-umbrella-list {
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto auto auto auto;
  border: 1px solid black;
  grid-gap: 1px;
}

.umbrella {
    display: grid;
    padding: 10px;
    grid-template-columns: auto auto auto auto auto;
    border: 1px solid black;
    grid-gap: 1px;
}

.umbrella > div {
    width: 115px;
    text-align: center;
    padding: 5px 0;
  }
